root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
max_line_length = 80
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,json5,webmanifest}]
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{md,mdx}]
indent_style = space
trim_trailing_whitespace = false
